html {
  background-color: rgb(58, 58, 58);
}
body {
  padding: 0;
  margin: 0;
}
h1 {
  margin: auto auto 0.6rem auto;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(163, 157, 255);
}
h2.formula {
  width: 420px;
  text-align: center;
  margin: auto;
  color: white;
  border: solid rgb(99, 99, 248);
  padding: 1rem;
}
hr {
  width: 180px;
  border-color: rgb(243, 243, 243);
}
.container {
  width: 420px;
  font-size: 1.5rem;
  margin: auto;
  padding: 2rem;
  text-align: left;
  color: rgb(243, 243, 243);
}
.inputAngle,
#length1,
#length2,
#base,
#height {
  width: 395px;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0.8rem auto;
  padding: 0.5rem;
}
input {
  border-radius: 30px;
  border: white solid;
}

.isTriangle,
.submit,
.calculate,
.submit {
  font-size: 1.5rem;
  border-radius: 30px;
  margin-top: 2rem;
  margin: auto;
  padding: 8px 140px;
  background-color: rgb(99, 99, 248);
  color: rgb(231, 231, 231);
  border-color: rgb(231, 231, 231);
}

.submit {
  padding: 8px 90px;
}
.calculate {
  padding: 8px 156px;
}
.clear,
.home {
  font-size: 1.5rem;
  border-radius: 30px;
  margin: 1rem auto auto auto;
  padding: 8px 74px;
  color: rgb(99, 99, 248);
  background-color: rgb(231, 231, 231);
  border-color: rgb(99, 99, 248);
}
.home {
  padding: 8px 70px;
}

.output {
  width: 90%;
  text-align: center;
  margin: 2rem auto;
  color: rgb(255, 255, 255);
}

/*  */
.container2 {
  width: 470px;
  font-size: 1.5rem;
  margin: auto;
  color: rgb(194, 194, 194);
}
nav {
  background-color: rgb(163, 157, 255);
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.active {
  background-color: rgb(255, 255, 255);
  width: 130px;
  display: inline-block;
  margin: 0.4rem 0.4rem;
  text-align: center;
  padding: 0.5rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  color: rgb(85, 85, 248);
}
.inactive {
  background-color: none;
  width: 130px;
  display: inline-block;
  margin: 0.4rem 0.4rem;
  text-align: center;
  padding: 0.5rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.queBox {
  border: dashed 0.5px rgb(85, 85, 248);
  padding: 1rem 1rem;
}
span {
  color: rgb(231, 231, 231);
}
.img {
  padding: 390px 1px;
  background: url(/tri.gif);
  background-repeat: repeat;
}
