html {
  background-color: rgb(196, 196, 196);
}
h1 {
  margin: 3rem auto 0.6rem auto;
  text-align: center;
  color: rgb(54, 54, 231);
}
hr {
  width: 180px;
  border-color: rgb(121, 121, 245);
  margin-bottom: 1.6rem;
}
.container {
  width: 350px;
  font-size: 1.5rem;
  margin: auto;
  padding: 2rem;
  text-align: left;
  color: rgb(58, 58, 236);
}
#input1,
#input2,
#input3,
#length1,
#length2 {
  width: 325px;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0.8rem auto;
  padding: 0.5rem;
}

.isTriangle,
.submit,
.calculate {
  font-size: 1.5rem;
  border-radius: 20px;
  margin-top: 2rem;
  padding: 5px 103px;
  background-color: rgb(99, 99, 248);
  color: rgb(231, 231, 231);
  border-color: rgb(231, 231, 231);
}
.clear,
.back {
  font-size: 1.5rem;
  border-radius: 20px;
  margin: 1rem auto auto auto;
  padding: 5px 56px;
  color: rgb(99, 99, 248);
  background-color: rgb(231, 231, 231);
  border-color: rgb(99, 99, 248);
}

.output {
  width: 90%;
  text-align: center;
  margin: 2rem auto;
}

/*  */
.container2 {
  width: 470px;
  font-size: 1.5rem;
  margin: auto;
  padding: 2rem 0.6rem;
  text-align: left;
  color: rgb(58, 58, 236);
}

a.is,
a.quiz,
a.hypo {
  background-color: rgb(255, 255, 255);
  display: block;
  margin: auto;
  text-align: center;
  padding: 1rem 1.4rem;
  border-radius: 20px;
  color: rgb(85, 85, 248);
}
